.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -4px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 4px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 4px;
  border-radius: 8px;
  .ant-image-img {
    border-radius: 8px;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.mansonry-wrap {
  width: 100%;
  height: auto;
}

.mansonry-content {
  max-height: 500px;
  overflow: auto;
  border-radius: 8px;
  scroll-behavior: smooth;
}
