.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  // font-family: Arial;
  font-family: "Jacques Francois";
  margin-bottom: 48px;
  font-size: 55px;
  text-decoration: none;

  @-webkit-keyframes shiny-btn1 {
    0% {
      -webkit-transform: scale(0) rotate(45deg);
      opacity: 0;
    }

    80% {
      -webkit-transform: scale(0) rotate(45deg);
      opacity: 0.5;
    }

    81% {
      -webkit-transform: scale(4) rotate(45deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }

  @keyframes shiny-btn1 {
    0% {
      transform: scale(0) rotate(45deg);
      opacity: 0;
    }

    80% {
      transform: scale(0) rotate(45deg);
      opacity: 0.5;
    }

    81% {
      transform: scale(4) rotate(45deg);
      opacity: 1;
    }

    100% {
      transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    background: url(https://vignette.wikia.nocookie.net/jojo/images/2/21/KQ_Bites_the_Dust.gif/revision/latest/scale-to-width-down/340?cb=20180501192918&path-prefix=ru)
      repeat-x;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: contain;
    animation: Jojo 10s linear infinite;
    margin-bottom: 48px;
  }

  > button {
    font-size: 16px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Jacques Francois";
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:
      inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
    overflow: hidden;
    border: none;

    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }
  }
}

@keyframes Jojo {
  0% {
    background-position: left 0 top 15px;
  }

  50% {
    background-position: left 130px top -15px;
  }

  100% {
    background-position: left 260px top 0;
  }
}
