.wrap {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 4px;
  > h2 {
    color: #fff;
    font-family: "Jacques Francois";
    letter-spacing: 0.075em;
    font-weight: normal;
    margin-top: 0;
  }

  > span {
    font-size: 12px;
    color: #e2007f;
    font-family: "Noto Serif JP";
    letter-spacing: 0.025em;
  }
}
